<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/files/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/viewport.css">
</head>
<body>
    <nav id="desktop-nav" style="background-image: url('/files/header.jpg');">
        <div class="logo">Brandon Maestas</div>
        <div>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <nav id="nav" style="background-image: url('/files/header.jpg');">
        <div class="logo">Brandon Maestas</div>
        <div class="menu">
            <div class="icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <ul>
                    <li><a href="#about" onclick="toggleMenu()">About</a></li>
                    <li><a href="#skills" onclick="toggleMenu()">Skills</a></li>
                    <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
                    <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="profile">
        <div class="section__pic-container">
            <img src="/files/headshot-circle.png" alt="Profile Picture">
        </div>
        <div class="section__text">
            <p class="section__text__p1">Hello, I'm</p>
            <h1 class="title">Brandon Maestas</h1>
            <p class="section__text__p2">IT Technician</p>
            <div class="btn-container">
                <button class="btn btn-2" onclick="window.open('/files/Resume.pdf')">Download CV</button>
                <button class="btn btn-1" onclick="window.location.replace('./#contact')">Contact Me</button>
            </div>
            <div id="socials-container">
                <img src="/files/linkedin-logo.svg" alt="LinkedIn Profile" class="icon" onclick="location.href='https://www.linkedin.com/in/brandonmaestas'">
                <img src="/files/github-logo.png" alt="Github Profile" class="icon" onclick="location.href='https://github.com/bmaest'">
            </div>
        </div>
    </section>
    <section id="about">
        <p class="section__text__p1">Get To Know More</p>
        <h1 class="title">About Me</h1>
        <div class="section-container">
            <div class="section__pic-container">
                <img src="/files/about-picture.png" alt="Profile Picture" class="about-pic">
            </div>
            <div class="about-details-container">
                <div class="about-container">
                    <div class="detail-container">
                        <img src="/files/experience-icon.svg" alt="Experience Icon" class="icon">
                        <h3>Experience</h3>
                        <p>1+ years<br/>IT Intern for The City of Henderson</p>
                    </div>
                    <div class="detail-container">
                        <img src="/files/education-icon.png" alt="Education Icon" class="icon">
                        <h3>Education</h3>
                        <p>B.S. Computer Science <br/>Western Governors University</p>
                    </div>
                </div>
                <div class="text-container">
                    <p>
                        Hello! I’m a recent graduate with a Bachelor of Science in Computer Science, passionate about
                        utilizing technology to solve real-world problems. Over the past year, I’ve honed my skills as
                        an IT intern, where I’ve had the opportunity to work on various projects, collaborate with
                        cross-functional teams, and contribute to the seamless operation of IT services. As I transition
                        from academia to the professional world, I’m eager to utilize my analytical skills,
                        problem-solving abilities, and passion for technology in my next IT position.
                    </p>
                </div>
            </div>
        </div>
        <img src="/files/down-arrow.svg" alt="V" class="icon arrow" onclick="location.href='./#skills'">
    </section>
    <section id="skills">
        <p class="section__text__p1">Explore My</p>
        <h1 class="title">Skills</h1>
        <div class="skills-details-container">
            <div class="about-container">
                <div class="detail-container">
                    <h2 class="skills-subtitle">Information Technology</h2>
                    <div class="article-container">
                        <article>
                            <img src="/files/bullet.png" alt="Icon" class="icon">
                            <div>
                                <h3>CompTIA A+</h3>
                                <p>December 2022</p>
                            </div>
                        </article>
                        <article>
                            <img src="/files/bullet.png" alt="Icon" class="icon">
                            <div>
                                <h3>CompTIA Network+</h3>
                                <p>July 2023</p>
                            </div>
                        </article>
                        <article>
                            <img src="/files/bullet.png" alt="Icon" class="icon">
                            <div>
                                <h3>CompTIA Security+</h3>
                                <p>September 2023</p>
                            </div>
                        </article>
                        <article>
                            <img src="/files/bullet.png" alt="Icon" class="icon">
                            <div>
                                <h3>Linux Essentials</h3>
                                <p>March 2024</p>
                            </div>
                        </article>
                        <article>
                            <img src="/files/bullet.png" alt="Icon" class="icon">
                            <div>
                                <h3>ITIL v4 Foundations</h3>
                                <p>April 2024</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="detail-container">
                    <h2 class="skills-subtitle">Programming Languages</h2>
                    <div class="article-container">
                        <article>
                            <img src="/files/bullet2.png" alt="Icon" class="icon">
                            <div>
                                <h3>C++</h3>
                                <p>4 years</p>
                            </div>
                        </article>
                        <article>
                            <img src="/files/bullet2.png" alt="Icon" class="icon">
                            <div>
                                <h3>Java</h3>
                                <p>2 years</p>
                            </div>
                        </article>
                        <article>
                            <img src="/files/bullet2.png" alt="Icon" class="icon">
                            <div>
                                <h3>Powershell</h3>
                                <p>1 year</p>
                            </div>
                        </article>
                        <article>
                            <img src="/files/bullet2.png" alt="Icon" class="icon">
                            <div>
                                <h3>HTML/CSS</h3>
                                <p>1 year</p>
                            </div>
                        </article>
                        <article>
                            <img src="/files/bullet2.png" alt="Icon" class="icon">
                            <div>
                                <h3>JavaScript</h3>
                                <p>1 year</p>
                            </div>
                        </article>
                        <article>
                            <img src="/files/bullet2.png" alt="Icon" class="icon">
                            <div>
                                <h3>SQL</h3>
                                <p>1/2 year</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <img src="/files/down-arrow.svg" alt="V" class="icon arrow" onclick="location.href='./#projects'">
    </section>
    <section id="projects">
        <p class="section__text__p1">Browse My Recent</p>
        <h1 class="title">Projects</h1>
        <div class="skills-details-container">
            <div class="about-container">
            <div class="detail-container color-container">
                <div class="article-container">
                    <img src="/files/DeliveryAlgorithm.png" alt="Delivery Algorithm" class="project-img">
                </div>
                <h2 class="skills-subtitle project-title">Nearest Neighbor Algorithm to Optimize Delivery Route</h2>
                <div class="btn-container">
                    <button class="btn btn-2 project-btn" onclick="location.href='https://github.com/bmaest/Python-Deliver-Algorithm'">Github</button>
                </div>
            </div>
            <div class="detail-container color-container">
                <div class="article-container">
                    <img src="/files/InventoryWebsite.png" alt="Inventory Website" class="project-img">
                </div>
                <h2 class="skills-subtitle project-title">Inventory Management Website with SQL Database</h2>
                <div class="btn-container">
                    <button class="btn btn-2 project-btn" onclick="location.href='https://github.com/bmaest/Inventory-Management-Website'">Github</button>
                </div>
            </div>
            <div class="detail-container color-container">
                <div class="article-container">
                    <img src="/files/BinaryTree.png" alt="Binary Tree" class="project-img">
                </div>
                <h2 class="skills-subtitle project-title">Binary Tree Data Structure in C++</h2>
                <div class="btn-container">
                    <button class="btn btn-2 project-btn" onclick="location.href='https://github.com/bmaest/Binary-Tree'">Github</button>
                </div>
            </div>
            </div>
        </div>
        <img src="/files/down-arrow.svg" alt="V" class="icon arrow" onclick="location.href='./#contact'">
    </section>
    <section id="contact">
        <p class="section__text__p1">Feel Free To</p>
        <h1 class="title">Contact Me</h1>
        <div class="contact-info-upper-container">
            <div class="contact-info-container">
                <img src="/files/email-icon.svg" alt="Email Icon" class="icon contact-icon">
                <p><a href="mailto:brandon.maest@gmail.com">brandon.maest@gmail.com</a></p>
            </div>
            <div class="contact-info-container">
                <img src="/files/linkedin-logo.svg" alt="LinkedIn Icon" class="icon contact-icon">
                <p><a href="https://www.linkedin.com/in/brandonmaestas/">LinkedIn</a></p>
            </div>
        </div>
    </section>
    <footer>
        <nav>
            <div class="nav-links-container">
                <ul class="nav-links footer">
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <img src="/files/down-arrow.svg" alt="V" class="icon arrow bottom" onclick="location.href='./#desktop-nav'">
    </footer>
    <script src="/src/script.js"></script>
</body>
</html>